 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 577px;
}

.u-section-1 .u-group-1 {
  --radius: 10px;
  height: 231px;
  width: 368px;
  margin: 173px auto 0 -28px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  width: 29px;
  height: 29px;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 171px;
  margin: -201px 185px 60px -15px;
}

.u-section-1 .u-text-1 {
  font-family: Gotham-Bold;
  width: auto;
  font-weight: 400;
  margin: -112px 0 0 165px;
}

.u-section-1 .u-text-2 {
  font-family: GothamMedium_1;
  width: auto;
  font-size: 1.125rem;
  margin: 20px 0 60px 165px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 384px;
    min-height: 231px;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -121px;
    margin-right: -5px;
    margin-left: 170px;
  }

  .u-section-1 .u-text-2 {
    font-family: GothamBook;
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: -5px;
    margin-left: 170px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1698px;
}

.u-section-2 .u-text-1 {
  font-family: GothamBook;
  width: auto;
  text-shadow: 0px 0px 8px rgba(0,0,0,1);
  margin: 29px 0 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 19px;
    margin-bottom: 19px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 739px;
}

.u-section-3 .u-group-1 {
  --radius: 10px;
  width: 384px;
  min-height: 385px;
  margin: 24px -44px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 27px 29px;
}

.u-section-3 .u-text-1 {
  width: auto;
  font-family: GothamBook;
  font-weight: 400;
  font-size: 1rem;
  margin: 11px 1px 0;
}

.u-section-3 .u-text-2 {
  width: auto;
  font-family: GothamBook;
  font-weight: 400;
  font-size: 0.75rem;
  margin: 0 1px;
}

.u-section-3 .u-text-3 {
  width: auto;
  font-family: GothamBook;
  font-weight: 400;
  text-shadow: 0px 0px 8px rgba(0,0,0,1);
  margin: 17px 1px 0;
}

.u-section-3 .u-text-4 {
  width: auto;
  font-family: GothamBook;
  font-weight: 400;
  font-size: 0.75rem;
  text-shadow: 0px 0px 8px rgba(0,0,0,1);
  margin: 0 1px;
}

.u-section-3 .u-text-5 {
  width: auto;
  font-family: GothamBook;
  font-weight: 400;
  margin: 17px 2px 0 0;
}

.u-section-3 .u-text-6 {
  width: auto;
  font-family: GothamBook;
  font-weight: 400;
  font-size: 0.75rem;
  margin: 1px 2px 0 0;
}

.u-section-3 .u-text-7 {
  font-family: GothamBook;
  width: auto;
  text-shadow: 0px 0px 8px rgba(0,0,0,1);
  margin: 24px 0;
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-3 .u-group-1 {
    min-height: 331px;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 48px;
    margin-bottom: 25px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 577px;
}

.u-section-4 .u-group-1 {
  --radius: 10px;
  height: 231px;
  width: 368px;
  margin: 173px auto 0 -28px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 170px;
  height: 171px;
  margin: -201px 185px 60px -15px;
}

.u-section-4 .u-text-1 {
  font-family: Gotham-Bold;
  width: auto;
  font-weight: 400;
  margin: -112px 0 0 165px;
}

.u-section-4 .u-text-2 {
  font-family: GothamMedium_1;
  width: auto;
  font-size: 1.125rem;
  margin: 20px 0 60px 165px;
}

.u-section-4 .u-icon-1 {
  width: 23px;
  height: 23px;
  margin: 56px 22px 0 auto;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  width: 23px;
  height: 23px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: -23px 118px 60px 199px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-4 .u-group-1 {
    width: 384px;
    min-height: 231px;
    margin-top: 60px;
  }

  .u-section-4 .u-image-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -121px;
    margin-right: -5px;
    margin-left: 170px;
  }

  .u-section-4 .u-text-2 {
    font-family: GothamBook;
    font-size: 0.75rem;
    margin: 0 -5px 0 170px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 34px;
    margin-right: 17px;
    margin-left: 300px;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 123px;
    margin-bottom: 109px;
    margin-left: 194px;
  }
}@font-face {
  font-family: 'Gotham-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Gotham-Bold.otf);
}@font-face {
  font-family: 'GothamMedium_1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GothamMedium_1.ttf);
}@font-face {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GothamBook.ttf);
}